@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
$gray: #BEBEBE;
$white: #FFFFFF;
$black: #202020;
$fz-menu: 24px;
$fz-scroll: 18px;
@mixin blockStyle($color) {
  .menu {
    font-size: $fz-menu;
    border-bottom: 2px $color solid;
    .menu-list {
      a {
        color: $color;
        &:hover {
          border-bottom: 1px solid $color;
        }
      }
    }
  }
  .scroll {
    .scroll-text {
      font-size: $fz-scroll;
      color: $color;
    }
    .scroll-icon {
      color: $color;
      -webkit-transition: background .6s ease-in-out;
      transition: background .6s ease-in-out;
      border-radius: 0 0 15px 15px;
      &:hover {
        background: $gray;
      }
    }
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 100vw;
  margin: 0 auto;
}
.home {
  height: 100vh;
}
.about {
  height: auto;
}
.home,
.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  .menu {
    margin: 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90%;
    .menu-list {
      margin: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      list-style: none;
      width: 600px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'PT Sans', sans-serif;
      }
    }
  }
  .scroll {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 30px;
    .scroll-text {
      text-transform: uppercase;
      font-family: 'PT Sans', sans-serif;
      margin-bottom: 20px;
    }
    .scroll-icon {
      width: 32px;
      height: 32px;
    }
  }
}

.hide {
  display: none;
}
.home {
  background: url("./back.png");
  background-size: cover;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  .extra {
    display: none;
    margin-left: 10%;
    margin-top: 10%;
    .extra-menu-list {
      list-style: none;
      a {
        text-decoration: none;
        color: $white;
      }
    }
    .extra-menu-title {
      text-transform: uppercase;
      color: $white;
      i {
        margin-right: 10px;
      }
    }
  }
  @include blockStyle($white)
}
.about {
  background: $white;
  @include blockStyle($gray)
}
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  .image {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    .firstP {
      display: block;
    }
    .secondP {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .me {
    font-family: 'Open Sans', sans-serif;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .title {
      font-size: 30px;
      text-transform: uppercase;
      color: $black;
    }
    .sub {
      color: $black;
      font-size: 26px;
    }
    .text {
      font-weight: 300;
      margin-bottom: 10px;
    }
  }
}
@media screen and (max-width: 770px){
  .home .scroll{
    display: none;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    .me .text {
      line-height: 35px;
    }
  }
  .content {
    padding: 0;
  }
}
@media screen and (max-width: 450px){
  .home {
    height: 260px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    .extra {
      display: block;
    }
  }
  .about .scroll {
    display: none;
  }
  .home .menu,
  .about .menu {
    display: none;
  }
  .menu-list {
    a {
      font-size: 16px;
    }
  }
  .content {
    .me .text {
      line-height: 40px;
    }
    .image {
      .firstP {
        display: none;
      }
      .secondP {
        display: block;
      }
    }
  }
}